* {
  margin: 0;
  padding: 0;
}

body {
  background: url("https://yashkaps.github.io/ttleague/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
  font-size: 100%;
}

#always {
  background: white;
  font-size: 1.2rem;
  width: 70vw;
  padding: 20px;
  background-attachment: fixed;
  opacity: 0.8;
  /* position: relative;
  top: 78px;
  left: 12vw; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  z-index: 2;
  /* min-height: calc(100vh - 118px); */
}

.navbar {
  position: fixed;
  top: 0;
  height: 50px;
  /* float: left; */
  overflow: hidden;
  display: block;
  background: rgba(0, 0, 0, 0.85);
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  width: 100%;
  z-index: 2;
}

.navbar h1 {
  max-width: 50vw;
  float: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2em;
  text-transform: capitalize;
  color: rgb(251, 54, 54);
}

.navbar img {
  float: right;
  width: 15rem;
}

table {
  /* min-width: 10vw; */
  border: 1px solid black;
}

th,
td {
  padding: 5px;
}

.content {
  background: white;
  font-size: 1.2rem;
  width: 70vw;
  padding: 20px;
  background-attachment: fixed;
  opacity: 0.8;
  position: relative;
  top: 78px;
  left: 12vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  z-index: 1;
  min-height: calc(100vh - 118px);
}

table {
  min-width: 100%;
  max-width: 100%;
  text-align: left;
  border-collapse: collapse;
}

th {
  background: rgb(200, 200, 200);
  color: rgb(255, 23, 23);
}

td {
  text-transform: capitalize;
  background: rgba(237, 234, 234, 0.8);
}

#ratings {
  border-color: white;
  background-color: rgb(0, 0, 0);
}

#player_sort:hover, #rating_sort:hover {
  cursor: pointer;
}

#search_box {
  width: 92%;
  font-size: 1.2em;
  background: rgb(166, 187, 196);
  padding: 1% 2% 1% 5%; /* Add some padding */
  /* border: 1px solid #ddd; Add a grey border */
  background-image: url("https://yashkaps.github.io/ttleague/images/search-icon2.jpg"); /* Add a search icon to input */
  /* background-position: 1% 1%;  */
  /* background-repeat: no-repeat; */
}

/* for search box placeholder */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(212, 38, 38);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(212, 38, 38);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(212, 38, 38);
}